@using Newtonsoft.Json

@{
		Layout = null;
}
<!DOCTYPE html>
<html dir="rtl" lang="fa-IR">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="@ViewBag.Description">
	<title>@ViewBag.Title</title>
	<link rel="preload" as="font" href="https://www.mashadleather.com/fonts/IranSans/woff2/IRANSansWeb.woff2" type="font/woff2" crossorigin="anonymous">
	<link rel="preload" as="font" href="https://www.mashadleather.com/fonts/IranSans/woff/IRANSansWeb.woff" type="font/woff" crossorigin="anonymous">
	<link rel="preload" as="font" href="https://www.mashadleather.com/fonts/IranSans/woff/IRANSansWeb(FaNum).woff" type="font/woff" crossorigin="anonymous">
	<link rel="preload" as="font" href="https://www.mashadleather.com/fonts/IranSans/woff2/IRANSansWeb(FaNum).woff2" type="font/woff2" crossorigin="anonymous">
	<link rel="preload" as="font" href="https://www.mashadleather.com/Content/fonts/fontawesome-webfont.woff" type="font/woff" crossorigin="anonymous">
	<link rel="preload" as="font" href="https://www.mashadleather.com/Content/fonts/fontawesome-webfont.woff2" type="font/woff2" crossorigin="anonymous">
	<link rel="preload" as="font" href="https://www.mashadleather.com/Scripts/UI/plugins/revolution/fonts/revicons/revicons.woff?5510888" type="font/woff" crossorigin="anonymous">
	<link rel="canonical" href="@ViewBag.Canonical" />
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,800,700,600|Montserrat:400,500,600,700|Raleway:100,300,600,700,800" rel="stylesheet" type="text/css" />
	<link rel="icon" href="/Images/favicon.png">
	<link rel="shortcut icon" href="/Images/favicon.png" type="image/x-icon">
	<link rel="apple-touch-icon" href="/Images/favicon.png">
	<link href="~/Content/UI/style-En.css" rel="stylesheet" />
	<script>
(function (w, d, s, l, i) {
		w[l] = w[l] || []; w[l].push({
			'gtm.start':
			new Date().getTime(), event: 'gtm.js'
		}); var f = d.getElementsByTagName(s)[0],
			j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
				'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
		})(window, document, 'script', 'dataLayer', 'GTM-WCLJHZZ');</script>
</head>
<body class="no-page-loader">
	<noscript>
		<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WCLJHZZ"
						height="0" width="0" style="display:none;visibility:hidden"></iframe>
	</noscript>
	<div id="wrapper">
		@Html.Partial("FrontEndLayout/_MenuPartial")
		@RenderBody()
		@Html.Partial("FrontEndLayout/_FooterPartial")
	</div>
	<a id="goToTop"><i class="fa fa-angle-up top-icon"></i><i class="fa fa-angle-up"></i></a>
	<link href="/Content/UI/plugins.css" rel="stylesheet">
	<link href="/Content/UI/style.css" rel="stylesheet">
	<link href="/Content/UI/responsive.css" rel="stylesheet">
	<link href="~/Content/UI/style-rtl.css" rel="stylesheet" />
	<script src="/Scripts/UI/jquery.js"></script>
	<script src="/Scripts/UI/plugins.js"></script>
	<script src="/Scripts/UI/functions.js"></script>
	<script src="~/Scripts/UI/customfunction.js"></script>
	<script>
		$(document).ready(function () {
			setBasketCount();

		});
	</script>
	@RenderSection("scripts", required: false)
	<script type="text/javascript">
		window.vasleSettings = {
			app_id: "l1Qkq69o"
		};
	</script>
	<script src="~/Scripts/UI/custom.js"></script>
</body>
</html>
