
<section class="background-grey p-t-40 p-b-0">
    <div class="container" style="direction:ltr;">
        <div class="row">
            <div class="col-md-3">
                <div class="icon-box effect small clean float-right">
                    <div class="icon">
                        <i class="fa fa-gift"></i>
                    </div>
                    <h3>@Resources.Label.FreeShipping</h3>
                    @*<p>@Resources.Label.FreeShippingDesc</p>*@
                </div>
            </div>

            <div class="col-md-3"> 
                <div class="icon-box effect small clean float-right">
                    <div class="icon">
                        <i class="fa fa-plane"></i>
                    </div>
                    <h3><a href="/blog/news/return">@Resources.Label.ProductReturn</a></h3>
                 </div>
            </div>

            <div class="col-md-3">
                <div class="icon-box effect small clean float-right">
                    <div class="icon">
                        <i class="fa fa-history"></i>
                    </div>
	                <h3><a href="https://club.mashadleather.com/account/login?ReturnUrl=%2f" target="_blank" rel="nofollow">@Resources.Label.CustomerService</a> </h3>
                   
                </div>
            </div>
            <div class="col-md-3">
                <div class="icon-box effect small clean float-right">
                    <div class="icon">
                        <i class="fa fa-history"></i>
                    </div>
	                <h3><a href="/branches">@Resources.Label.Stores</a></h3>
                    @*<p>@Resources.Label.StoresDesc</p>*@
                </div>
            </div>
        </div>
    </div>
</section>