
<section class="background-grey p-t-40 p-b-0">
    <div class="container" style="direction:ltr;">
        <div class="row">
            <div class="col-md-3">
                <div class="icon-box effect small clean">
                    <div class="icon">
                        <i class="fa fa-gift"></i>
                    </div>
                    <h3>@Resources.Label.FreeShipping</h3>
                    <p>@Resources.Label.FreeShippingDesc</p>
                </div>
            </div>

            <div class="col-md-3">
                <div class="icon-box effect small clean">
                    <div class="icon">
                        <i class="fa fa-plane"></i>
                    </div>
                    <h3>@Resources.Label.ProductReturn</h3>
                    <p>@Resources.Label.ProductReturnDesc</p>
                </div>
            </div>

            <div class="col-md-3">
                <div class="icon-box effect small clean">
                    <div class="icon">
                        <i class="fa fa-history"></i>
                    </div>
                    <h3>@Resources.Label.CustomerService</h3>
                    <p>@Resources.Label.CustomerServiceDesc</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="icon-box effect small clean">
                    <div class="icon">
                        <i class="fa fa-history"></i>
                    </div>
                    <h3>@Resources.Label.Stores</h3>
                    <p>@Resources.Label.StoresDesc</p>
                </div>
            </div>
        </div>
    </div>
</section>