@model IEnumerable<ViewModels.OrderListViewModel>

@{
    ViewBag.Title = "فهرست سفارشات";

}


<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-2">
        <input type="text" onclick="PersianDatePicker.Show(this,'@DateTime.Now');" placeholder="تاریخ شروع" class="form-control" width="150" id="startDate" value="@ViewBag.startDate" />
    </div>
    <div class="col-md-2">
        <input type="text" onclick="PersianDatePicker.Show(this,'@DateTime.Now');" placeholder="تاریخ ‍‍پایان" class="form-control" width="150" id="endDate" value="@ViewBag.endDate"/> 
    </div>
    <div class="col-md-2">
        @Html.DropDownList("ddlStatus", null, "وضعیت", new { @id = "ddlSatus", @placeholder = "وضعیت", @class = "form-control" })
    </div>
    <div class="col-md-1">
        <input type="button" id="btnSubmit" value="فیلتر" class="btn btn-success" />
    </div>
    <div class="col-md-1">
        <a href="/orders/0" class="btn btn-warning">نمایش همه</a>
    </div>
    <div class="col-md-2">
      <label class="hidden" id="lblTotal">جمع کل: @ViewBag.TotalAmount</label>
    </div>
    <div class="col-md-2">
       @Html.ActionLink("خروجی اکسل","Download",new{statusId=ViewBag.vb1,status=ViewBag.vb2, start = ViewBag.vb3, end = ViewBag.vb4},new{@class="btn btn-info"})
    </div>
</div>
<br />
@(Html.Kendo().Grid(Model)
				.Name("Grid")

				.Columns(columns =>
				{
				columns.Bound(model => model.Code);
				 columns.Bound(model => model.PaymentTypeTitle);
				columns.Bound(model => model.SaleReferenceId);
				columns.Bound(model => model.OrderStatusTitle);
				columns.Bound(model => model.FirstName);
				columns.Bound(model => model.LastName);
				columns.Bound(model => model.CellNum);
				columns.Bound(model => model.TotalAmount).Format("{0:n0}");
				columns.Bound(model => model.CreationDate);
				columns.Bound(item => @item.Id).Title("دستورات").Filterable(false).Groupable(false)
											.Template(@<text>
                @Html.ActionLink("مشاهده جزییات", "Details", new { id = @item.Id }, new { @class = "k-button" })
                @if (ViewBag.isDelete == 0)
                {
                    @Html.ActionLink("حذف", "Delete", new { id = @item.Id, isDelete = ViewBag.isDelete }, new { @class = "k-button" })
                }

                    </text>).Width(200);
				}).Filterable()

				.DataSource(dataSource => dataSource
																		.Server()
																		.Model(model => model.Id(item => item.Id))


										).Pageable(pager => pager.PageSizes(new object[] {10, 20, 50, 100, "All" }))

)
<script src="~/Scripts/PersianDatePicker.min.js"></script>
<link href="~/Content/PersianDatePicker.min.css" rel="stylesheet" />
<script type="text/javascript">
	$("#btnSubmit").click(function () {
		var startDate = $("#startDate").val();
		var endDate = $("#endDate").val();
		//var lblTotal = $("#lblTotal");
		//lblTotal.removeClass('hidden');
		var ddlSatus = document.getElementById("ddlSatus");
		var selectedStatus = ddlSatus.options[ddlSatus.selectedIndex].value;

		window.location.href = "/Orders/0?status=" + selectedStatus + "&&start=" + startDate + "&&end=" + endDate;

	});
	$(document).ready(function () {
		if ('@ViewBag.status' != "")
		{
			document.getElementById("ddlSatus").value = '@ViewBag.status';
			$("#lblTotal").removeClass('hidden');
		}

	});
</script>
