

@{
		ViewBag.Title = "سبد خرید | فروشگاه اینترنتی چرم مشهد";
		Layout = "~/Views/Shared/FrontEndLayout/_FrontEndLayout.cshtml";
}
 
<!-- Page title -->
<section id="page-title" data-parallax-image="/images/mashad-faq-img.jpg">
	<div class="container">
		<div class="page-title">
			<h1>@Resources.Label.yourBasket</h1>
			<span>@Resources.Label.ProductInformation</span>
		</div>

	</div>
</section>
<!-- end: Page title -->
<!-- SHOP CART -->
<section id="shop-cart-empty">
	<div class="container">
		<div class="p-t-10 m-b-20 text-center">
			<div class="heading-fancy heading-line text-center">
				<h4>@Resources.Label.EmptyBasket</h4>
			</div>
			<a class="btn btn-default icon-left" href="/productCategory/list"><span>@Resources.Label.ReturnToStore</span></a>
		</div>
	</div>
</section>
<section id="shop-cart">
	<div class="container">
		<div class="shop-cart">
			<div class="row">
				<div class="col-md-12 text-center">
					<a class="btn btn-default icon-left float-left" href="/checkout"> <i class="fa fa-angle-left"></i> نهایی کردن خرید و پرداخت</a>
				</div>
			</div>

			<div class="table table-condensed table-striped table-responsive">
				<table class="table table-bordered">
					<thead>
					<tr>
						<th class="cart-product-remove"></th>
						<th class="cart-product-thumbnail">@Resources.Label.Product</th>
						<th class="cart-product-color">@Resources.Label.Color</th>
						<th class="cart-product-size">@Resources.Label.Size</th>
						<th class="cart-product-price">@Resources.Label.Price</th>
						<th class="cart-product-quantity">@Resources.Label.Qty</th>
						<th class="cart-product-subtotal">مجموع</th>
					</tr>
					</thead>
					<tbody id="rows"></tbody>
					<tfoot>
					<tr>
						<td colspan="6" class="cart-product-name">
							<strong>@Resources.Label.OrderSum:</strong>
						</td>

						<td colspan="1" class="cart-product-name text-right">
							<span id="orderAmount" class="amount"></span> @Resources.Label.Rial
						</td>
					</tr>
					<tr>
						<td colspan="6" class="cart-product-name">
							<strong>@Resources.Label.SheepmentPrice:</strong>
						</td>

						<td colspan="1" class="cart-product-name  text-right">
							<span id="shippmentAmount" class="amount"></span>@Resources.Label.Rial
						</td>
					</tr>
					<tr>
						<td colspan="6" class="cart-product-name">
							<strong>@Resources.Label.discountPrice:</strong>
						</td>

						<td colspan="1" class="cart-product-name  text-right">
							<span id="DiscountAmount" class="amount"></span>@Resources.Label.Rial
						</td>
					</tr>

					<tr>
						<td colspan="6" class="cart-product-name">
							<strong>تخفیف باشگاه مشتریان:</strong>
						</td>

						<td colspan="1" class="cart-product-name  text-right">
							<span id="ClubDiscountAmount" class="amount"></span>@Resources.Label.Rial
						</td>
					</tr>

					<tr>
						<td colspan="6" class="cart-product-name">
							<strong>@Resources.Label.TotalPayment:</strong>
						</td>

						<td colspan="1" class="cart-product-name text-right">
							<span id="total" class="amount color lead"> </span>@Resources.Label.Rial
						</td>
					</tr>
					</tfoot>
				</table>
			</div>

			<div class="row">
				<div class="col-md-12 text-center">
					<a class="btn btn-default icon-left float-left" href="/checkout"> <i class="fa fa-angle-left"></i> نهایی کردن خرید و پرداخت</a>
				</div>
			</div>

		</div>
	</div>
</section>

<div class="loading-fuulpage">Loading&#8230;</div>

@Html.Partial("FrontEndLayout/_MiniFooter")

@section scripts{
	<script>
		$(document).ready(function () {
			LoadOrders();
			document.getElementById("minus").disabled = true; 
			document.getElementById("plus").disabled = true; 
			$(".plus").attr("disabled", true);
			$(".minus").attr("disabled", true);
		});
	</script>
}