@model ViewModels.AboutViewModel
@{
		ViewBag.Title =Resources.Label.About + " | " +Resources.Label.MashadLeather;
		ViewBag.Description = "شرکت چرم مشهد در سال 1375 در شهرک صنعتی چرم شهر مشهد با هدف حفظ و ارتقاء ارزش افزوده صنعت چرم و محصولات چرمی، ایجاد اشتغال در داخل کشور، عرضه مستقیم کلیه محصولات چرمی به هموطنان و صادرات با به کارگیری کلیه امکانات و توان بالقوه تاسیس گردیده است.";
		ViewBag.Canonical = "https://www.mashadleather.com/about";
		Layout = "~/Views/Shared/FrontEndLayout/_FrontEndLayout.cshtml";
}
@section head
{
	<style>
		#story-section {
			background-color: #ececec;
		}
		#story-section h2{
			text-align: center;
		}
			#story-section p {
				text-align: center;
				color: #282828;
				font-size: 17px;
				margin: 5px 0;
			}
			#story-section p.story-top {
				text-align: center;
				color: #ED1C24;

				font-size: 22px;
			}
				#story-section p.text-center {
					color: #ED1C24;
				}
			#story-section .img-wrapper {
				text-align: center;
			}
			#story-section .img-wrapper img{
				max-width: 100%;
			}
	</style>
}
<section id="page-title" data-parallax-image="/images/mashad-faq-img.jpg">
    <div id="particles-js" class="particles" style="background: none"></div>
    <div class="container">
        <div class="slide-captions text-center text-light about-caption">
            <h1 class="strong">@Resources.Label.AboutUs</h1> <label>@Resources.Label.MashadLeather</label>
        </div>
    </div>
</section>
@*<div class="inspiro-slider arrows-large arrows-creative dots-creative" data-height-xs="360" id="slider">
  <div class="slide kenburns" style="background-image:url('@Model.HeaderImage');">
		<div class="container">
			<div class="slide-captions text-center text-light">
  <span class="strong">@Resources.Label.AboutUs</span> <h1>@Resources.Label.MashadLeather</h1>
			</div>
		</div>
	</div>
</div>*@

<section>
	<div class="container">
		<div class="row about-main-text">
			@Html.Raw(Model.MainText)
		</div>
	</div>
</section>
<section id="story-section">
	<div class="container">
		<div class="row about-main-text">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<h2>داستان برند</h2>
				<p class="story-top"> سال‌ها دل طلب جام جم از ما می‌کرد/وان چه خود داشت ز بیگانه تمنا می‌کرد</p>
				<p class="img-wrapper">
					<img src="/images/ml-factory.jpg"/>
				</p>
				<p>
					همه چیز از یک سفر آغاز شد. اواسط سال 75 بود که در جریان یک سفر کاری عازم شهر تاریخی همدان بودیم.
				</p>
				<p>
					از هوای دل‌پذیر جاده‌ لذت می‌بردیم و زیبایی منحصربه‌فرد طبیعت غرب کشور چشم‌هایمان را می‌نواخت. آمده بودیم خوب ببینیم، فرصت‌های تازه بسازیم و تغییر ایجاد کنیم. مقصد ما یک کارگاه کوچک چرم‌سازی بود که مدت‌ها زندگی در آن جریان نداشت. مقصدی که خود به نقطه عطف و آغاز ما و خاطره‌ای که تا امروز در حال روایت و ساختنش هستیم تبدیل شد.

				</p>
				<p>
					برای ما که دغدغه‌مان اثرآفرینی است سفرها همیشه تغییرسازند، بنابراین تمام توان خود را به کار گرفتیم تا بر کالبد بی‌جان آن کارگاه چرم‌سازی روحی تازه بدمیم. تاریخ را ورق زدیم و از پیشینه قوی کشورمان در تولید چرم به شگفت آمدیم.
				</p>
				<p>
					زمانی که دانستیم مرغوب‌ترین چرم گوسفندی جهان در سرزمین‌مان ایران تولید و بخش بزرگی از مواد اولیه آن به خارج از کشور صادر می‌شود، بر آن شدیم، طرحی نو در اندازیم. نگرش مخاطب ایرانی نیز بخش دیگری از چالش ما بود، مخاطبی که تا آن زمان برای یافتن محصولات چرمی باکیفیت گرد جهان می‌گشت، در حالی که جام‌جم در خانه بود.
				</p>
				<p>
					هدف ما این شدکه ایران را در تولید محصولات چرمی، سرآمد و مردم ایران را در استفاده از این محصولات سربلند کنیم. آن کارگاه کوچک چرم‌سازی الهام‌بخش ما برای بنای کارخانه‌مان در شهر مشهد شد و امروز به اتفاق سرمایه انسانی کارآمد و مخاطبان وفادار؛ توانسته‌ایم به برندی که در تمام ایران شناخته شده ‌است و اندیشه حضور در بازارهای جهانی را در سر می‌پروراند تبدیل شویم . آری، به اتفاق، جهان می‌توان گرفت!
				</p>
				<p>
					حالا ذائقه مخاطب ایرانی تغییر کرده و ارزش کالای چرمی تولید داخل درک شده است، ما موفق شدیم فروشگاه‌های بیشتری را در گستره ی بزرگی از کشورمان ایران تاسیس کنیم. فروشگاه‌هایی که نه تنها محل ارائه محصولات ما بلکه خود بخشی از خاطرات هر شهرند. رسیدن به این اهداف بدون‌شک نیازمند قدردانی از جامعه‌ای است که در بستر آن رشد کردیم و در قلب آن جای گرفتیم.
				</p>
				<p>
					به این سپاس مدرسه ساختیم تا انسان‌های بیشتری از لذت آموختن بهره‌مند شوند، در کنار توان‌یابان ایستادیم تا آینده این سرزمین را با آن‌ها بسازیم و دست‌به‌دست هم دادیم تا برای آرامش همکاران‌مان سقفی بنا کنیم.
				</p>
				<p>
					ما خواسته های نو را در ذهن مخاطب مان می‌جوئیم و در جایگاه یک برند نوآور و پوینده هم‌پای تغییر در رفتار و سلیقه آن‌ها به پیش می‌تازیم.
				</p>
				<p>
					داستان ما داستان همه افرادی است که چرم مشهد در خاطرات‌شان جاری است. ما با هویت آن‌ها درآمیخته‌ایم و در لحظه‌هایشان حضور داریم. گاهی آن احساس زییایی هستیم که با هدیه‌دادن به یک عزیز ساخته می‌شود و گاه گرمابخش یک صبح سرد پائیزی پیش از سفر. ما یادآور لحظه‌های سخت و شیرین زندگی یا حس بی‌قراری قبل از یک دیدار عاشقانه هستیم.
				</p>
				<p class="text-center">
					ما خاطره‌سازیم و این ساختن نقطه پایانی ندارد چرا که امروز برای ما تنها آغاز ماجراست.

				</p>
				<h2>
					ماموریت برند
				</h2>
				<p>
					ما در چرم مشهد، هر صبح کارمان را با تولید و ارائه محصولاتی آغاز می‌کنیم که هم‌چون خاطره‌ای ماندگار در ذهن مخاطبانمان بدرخشند.
				</p>
				<p>
					ما می‌خواهیم در قلب و حافظه مصرف‌کنندگان‌مان از داشتن محصول چرم ایرانی حس افتخار ایجاد کنیم و با پویندگی و نوآوری در این مسیر به پیش می‌تازیم.


				</p>
			</div>
		</div>
	</div>
</section>
<section class="text-light background-overlay-dark" data-parallax-image="/images/About-us.jpg">
	<div class="container">
		<div class="row">
			@foreach (var number in Model.Numbers)
			{
					<div class="col-md-3">
						<div class="text-center">
							<div class="counter">
								<span data-from="0" data-refresh-interval="50" data-seperator="true" data-speed="3000" data-to="@number.SummerySrt"></span>
							</div>
							<p>@number.TitleSrt</p>
						</div>
					</div>
			} 
		</div>
	</div>
</section>
<section>
	<div class="container">
		<div class="heading heading-center"><span class="lead">@Resources.Label.Honors </span> </div><ul class="grid grid-4-columns">
			@foreach (var certificate in Model.Certificates)
			{
					<li><a data-container="body" data-content="@certificate.SummerySrt" data-original-title="@certificate.TitleSrt" data-placement="top" data-toggle="popover" data-trigger="hover" title=""><img alt="@certificate.Title" src="@certificate.ImageUrl" /></a> </li>

			} 		</ul>
	</div>
</section>
<section class="box-fancy section-fullwidth text-light p-b-0 p-t-0" style="direction:rtl;">
	<div class="row">

		@foreach (var text in Model.SaleSystem)
		{
				<div class="col-md-4" style="background-color: #917d5d;">
					<h3>@text.TitleSrt</h3>
					<p class="text-justify">@text.SummerySrt</p>
					<div class="grid-item" style="padding: 0px 30px 30px 0px; position: absolute; left: 585px; top: 790px;">
						<a data-lightbox="gallery-item" href="images/portfolio/project/12.jpg" title="Saiba Chair"><img src="/Theme/MashadLeather/images/portfolio/project/12.jpg" /></a>
					</div>
				</div>
		}


	</div>
</section>
<section>
	<div class="container">
		<div class="heading heading-center"><span class="lead">@Resources.Label.OtherMembers</span> </div>
		@Html.Raw(Model.Partners)
	</div>
</section>

@section scripts{
    <script src="~/Scripts/UI/plugins/components/particles-animation.js"></script>
    <script src="~/Scripts/UI/plugins/components/particles.js"></script>
}