@model ViewModels.CarreerViewModel
@{
    ViewBag.Title = Resources.Label.ContactUs + " | " + Resources.Label.MashadLeather;
    ViewBag.Description = "تلفن فروشگاه اینترنتی 02188310259 تلفن دفتر مرکزی 05138475880 آدرس: تهران، خیابان ولیعصر، خیابان عاطفی، پلاک 100";
    ViewBag.Canonical = "https://www.mashadleather.com/contact";
    Layout = "~/Views/Shared/FrontEndLayout/_FrontEndLayout.cshtml";
}

<section id="page-title" data-parallax-image="/images/mashad-faq-img.jpg">
    <div id="particles-js" class="particles" style="background: none"></div>
    <div class="container">
        <div class="slide-captions text-center text-light about-caption">
            <h1 class="strong">فرم استخدام</h1> <label>@Resources.Label.MashadLeather</label>
        </div>
    </div>
</section>
<div class="container" style="direction:rtl">

    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">فرم استخدام</div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-sm-6">
                        @Html.LabelFor(model => model.Email)
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>
                    <div class="form-group col-sm-6">
                        @Html.LabelFor(model => model.FullName)
                        @Html.TextBoxFor(model => model.FullName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.FullName)
                    </div>
                    <div class="form-group col-sm-6">
                        @Html.LabelFor(model => model.CellNumber)
                        @Html.TextBoxFor(model => model.CellNumber, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CellNumber)
                    </div>
                    <div class="form-group col-sm-6">
                        @Html.LabelFor(model => model.NationalCode)
                        @Html.TextBoxFor(model => model.NationalCode, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.NationalCode)
                    </div>
                    <div class="form-group col-sm-6">
                        <form style="direction:rtl; width:300px">
                            <label class="m-l-xs">وضعیت تاهل:</label>
                            <label class="" for="marriedCheck">مجرد</label>
                            <input type="radio" name="marriedRadio" class="m-l-10" id="marriedCheck1">
                            <label class="" for="marriedCheck">متاهل</label>
                            <input type="radio" name="marriedRadio" class="" id="marriedCheck2">

                        </form>

                    </div>
                    <div class="form-group col-sm-6">
                        @*@Html.LabelFor(model => model.IsLady)
                        @Html.CheckBox("خانم", false, new { @class = "form-control" })
                        @Html.CheckBox("آقا", false, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.NationalCode)*@

                        <form style="direction:rtl; width:300px">
                            <label class="m-l-xs">جنسیت:</label>
                            <label class="" for="genderCheck">خانم</label>
                            <input type="radio" name="genderRadio" class="m-l-10" id="gendereCheck1">
                            <label class="" for="genderCheck">آقا</label>
                            <input type="radio" name="genderRadio" class="" id="genderCheck2">

                        </form>
                    </div>
                    <div class="form-group col-sm-6">
                        @Html.LabelFor(model => model.ChidNumber)
                        <input id="chidnumber" type="number" class="form-control" />
                        @Html.ValidationMessageFor(model => model.ChidNumber)
                    </div>
                    <div class="form-group col-sm-6">
                        @Html.LabelFor(model => model.PeopleInChargeNumber)
                        <input id="chidnumber" type="number" class="form-control" />
                        @Html.ValidationMessageFor(model => model.PeopleInChargeNumber)
                    </div>
                    @*<div class="form-group col-sm-6">
                        @Html.LabelFor(model => model.BirthdayDate)
                        @Html.EditorFor(model => model.BirthdayDate)
                        @Html.ValidationMessageFor(model => model.BirthdayDate)
                    </div>*@
                    <div class="form-group col-sm-6">
                        @Html.LabelFor(model => model.PlaceOfBirth)
                        @Html.TextBoxFor(model => model.PlaceOfBirth, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PlaceOfBirth)
                    </div>
                    <div class="form-group col-sm-6">
                        @Html.LabelFor(model => model.Nationality)
                        @Html.TextBoxFor(model => model.Nationality, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Nationality)
                    </div>
                    <div class="form-group col-sm-6">
                        @Html.LabelFor(model => model.BirthdayDate)
                        <input type="text" onclick="PersianDatePicker.Show(this,'@DateTime.Now');" placeholder="تاریخ تولد" class="form-control" id="birthdayDate" value="@ViewBag.birthdayDate" />
                        @Html.ValidationMessageFor(model => model.BirthdayDate)
                    </div>
                    <div class="form-group col-sm-6">
                        @Html.LabelFor(model => model.Address)
                        @Html.TextAreaFor(model => model.Address, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Address)
                    </div>
                    <div class="form-group col-sm-12">
                        <form style="direction:rtl; width:100%">
                            @Html.LabelFor(model => model.MilitaryStatus)
                            <label class="m-l-xs" for="militaryCheck">معافیت: تحصیلی</label>
                            <input type="radio" name="militaryRadio" class="m-l-10" id="militaryCheck1">
                            <label class="" for="militaryCheck">پزشکی</label>
                            <input type="radio" name="militaryRadio" class="m-l-10" id="militaryCheck2">
                            <label class="" for="militaryCheck">مشمول</label>
                            <input type="radio" name="militaryRadio" class="m-l-10" id="militaryCheck3">
                            <label class="" for="militaryCheck">پایان خدمت</label>
                            <input type="radio" name="militaryRadio" class="" id="militaryCheck4">
                        </form>
                    </div>
                    <div class="form-group col-sm-12">
                        @*@Html.LabelFor(model => model.IsLady)
                        @Html.CheckBox("خانم", false, new { @class = "form-control" })
                        @Html.CheckBox("آقا", false, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.NationalCode)*@

                        <form style="direction:rtl; width:100%">
                            @Html.LabelFor(model => model.PhysicalCondition)
                            <label class="m-l-xs" for="physicalCheck">کاملا سالم</label>
                            <input type="radio" name="physicalRadio" class="m-l-10" id="physicalCheck1">
                            <label class="" for="physicalCheck">بیماری خاص</label>
                            <input type="radio" name="physicalRadio" class="m-l-10" id="physicalCheck2">
                            <label class="" for="physicalCheck">سابقه جراحی</label>
                            <input type="radio" name="physicalRadio" class="m-l-10" id="physicalCheck3">
                            <label class="" for="physicalCheck">نقص عضو</label>
                            <input type="radio" name="physicalRadio" class="" id="physicalCheck4">
                        </form>
                    </div>
                    <div class="form-group col-sm-6">
                        @Html.LabelFor(model => model.DurationInsuranceHistory)
                        <input id="insuranceYear" type="number" class="form-control" />
                        @Html.ValidationMessageFor(model => model.DurationInsuranceHistory)
                    </div>
                    <div class="form-group col-sm-6">

                        <form style="direction:rtl; width:300px">
                            @Html.LabelFor(model => model.IsInsurance)
                            <label class="" for="insuranceCheck">بله</label>
                            <input type="radio" name="insuranceRadio" class="m-l-10" id="insuranceCheck1">
                            <label class="" for="insuranceCheck">خیر</label>
                            <input type="radio" name="insuranceRadio" class="" id="insuranceCheck2">

                        </form>
                    </div>

                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">تحصیلات</div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-sm-6">
                        @Html.LabelFor(model => model.Major)
                        @Html.TextBoxFor(model => model.Major, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Major)
                    </div>
                    <div class="form-group col-sm-6">
                        <form style="direction:rtl; width:100%">
                            @Html.LabelFor(model => model.Education)
                            <label class="m-l-xs" for="educationCheck">زیر دیپلم</label>
                            <input type="radio" name="educationRadio" class="m-l-10" id="educationCheck1">
                            <label class="" for="educationCheck">دیپلم</label>
                            <input type="radio" name="educationRadio" class="m-l-10" id="educationCheck2">
                            <label class="" for="educationCheck">فوق دیپلم</label>
                            <input type="radio" name="educationRadio" class="m-l-10" id="educationCheck3">
                            <label class="" for="educationCheck">لیسانس</label>
                            <input type="radio" name="educationRadio" class="" id="educationCheck4">
                            <label class="" for="educationCheck">فوق لیسانس</label>
                            <input type="radio" name="educationRadio" class="m-l-10" id="educationCheck5">
                            <label class="" for="educationCheck">دکترا</label>
                            <input type="radio" name="educationRadio" class="" id="educationCheck6">
                        </form>

                    </div>
                    <div class="form-group col-sm-6">
                        @Html.LabelFor(model => model.LastCertificateDateTime)
                        <input type="text" onclick="PersianDatePicker.Show(this,'@DateTime.Now');" placeholder="تاریخ اخذ آخرین مدرک تحصیلی" class="form-control" id="lastCertificateDate" value="@ViewBag.lastCertificateDate" />
                        @Html.ValidationMessageFor(model => model.LastCertificateDateTime)
                    </div>
                    <div class="form-group col-sm-6">
                        @Html.LabelFor(model => model.LastUniversity)
                        @Html.TextBoxFor(model => model.LastUniversity, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.LastUniversity)
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">معرف(مشخصات سه نفر غیر از خانواده )</div>
            <div class="panel-body">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group col-sm-6">
                            <label class="">نسبت</label>
                            <input id="introduceRelative1" type="text" class="form-control" />
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="">نام و نام خانوادگی</label>
                            <input id="introduceName1" type="text" class="form-control" />
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="">محل کار</label>
                            <input id="introduceWorkPlace1" type="text" class="form-control" />
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="">شغل</label>
                            <input id="introduceJob1" type="text" class="form-control" />
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="">تلفن همراه</label>
                            <input id="introduceCellNumber1" type="text" class="form-control" />
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="">تلفن منزل</label>
                            <input id="introduceHomePhone1" type="text" class="form-control" />
                        </div>
                        <div class="form-group col-sm-12">
                            <label class="">آدرس</label>
                            <input id="introduceAddress1" type="text" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group col-sm-6">
                            <label class="">نسبت</label>
                            <input id="introduceRelative2" type="text" class="form-control" />
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="">نام و نام خانوادگی</label>
                            <input id="introduceName2" type="text" class="form-control" />
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="">محل کار</label>
                            <input id="introduceWorkPlace2" type="text" class="form-control" />
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="">شغل</label>
                            <input id="introduceJob2" type="text" class="form-control" />
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="">تلفن همراه</label>
                            <input id="introduceCellNumber2" type="text" class="form-control" />
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="">تلفن منزل</label>
                            <input id="introduceHomePhone2" type="text" class="form-control" />
                        </div>
                        <div class="form-group col-sm-12">
                            <label class="">آدرس</label>
                            <input id="introduceAddress2" type="text" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group col-sm-6">
                            <label class="">نسبت</label>
                            <input id="introduceRelative3" type="text" class="form-control" />
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="">نام و نام خانوادگی</label>
                            <input id="introduceName3" type="text" class="form-control" />
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="">محل کار</label>
                            <input id="introduceWorkPlace3" type="text" class="form-control" />
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="">شغل</label>
                            <input id="introduceJob3" type="text" class="form-control" />
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="">تلفن همراه</label>
                            <input id="introduceCellNumber3" type="text" class="form-control" />
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="">تلفن منزل</label>
                            <input id="introduceHomePhone3" type="text" class="form-control" />
                        </div>
                        <div class="form-group col-sm-12">
                            <label class="">آدرس</label>
                            <input id="introduceAddress3" type="text" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">تجارب کاری  پیشین (به ترتیب از آخرین محل کار بنویسید) </div>
            <div class="panel-body">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group col-sm-6">
                            <label class="">سمت</label>
                            <input id="post1" type="text" class="form-control" />
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="">نام شرکت/سازمان</label>
                            <input id="companyName1" type="text" class="form-control" />
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="">تاریخ پایان کار</label>
                            <input type="text" onclick="PersianDatePicker.Show(this,'@DateTime.Now');" placeholder="تاریخ پایان کار" class="form-control" id="workEndDate1" value="@ViewBag.workEndDate" />
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="">تاریخ شروع کار</label>
                            <input type="text" onclick="PersianDatePicker.Show(this,'@DateTime.Now');" placeholder="تاریخ شروع کار" class="form-control" id="workStartDate1" value="@ViewBag.workStartDate" />
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="">علت ترک کار</label>
                            <input id="leaveWorkReason1" type="text" class="form-control" />
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="">مبلغ دریافتی</label>
                            <input id="recievedPrice1" type="text" class="form-control" />
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="">آدرس</label>
                            <input id="Address1" type="text" class="form-control" />
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="">تلفن</label>
                            <input id="Phone1" type="text" class="form-control" />
                        </div>

                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group col-sm-6">
                            <label class="">سمت</label>
                            <input id="post2" type="text" class="form-control" />
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="">نام شرکت/سازمان</label>
                            <input id="companyName2" type="text" class="form-control" />
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="">تاریخ پایان کار</label>
                            <input type="text" onclick="PersianDatePicker.Show(this,'@DateTime.Now');" placeholder="تاریخ پایان کار" class="form-control" id="workEndDate2" value="@ViewBag.workEndDate" />
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="">تاریخ شروع کار</label>
                            <input type="text" onclick="PersianDatePicker.Show(this,'@DateTime.Now');" placeholder="تاریخ شروع کار" class="form-control" id="workStartDate2" value="@ViewBag.workStartDate" />
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="">علت ترک کار</label>
                            <input id="leaveWorkReason2" type="text" class="form-control" />
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="">مبلغ دریافتی</label>
                            <input id="recievedPrice2" type="text" class="form-control" />
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="">آدرس</label>
                            <input id="Address2" type="text" class="form-control" />
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="">تلفن</label>
                            <input id="Phone2" type="text" class="form-control" />
                        </div>

                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group col-sm-6">
                            <label class="">سمت</label>
                            <input id="post3" type="text" class="form-control" />
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="">نام شرکت/سازمان</label>
                            <input id="companyName3" type="text" class="form-control" />
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="">تاریخ پایان کار</label>
                            <input type="text" onclick="PersianDatePicker.Show(this,'@DateTime.Now');" placeholder="تاریخ پایان کار" class="form-control" id="workEndDate3" value="@ViewBag.workEndDate" />
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="">تاریخ شروع کار</label>
                            <input type="text" onclick="PersianDatePicker.Show(this,'@DateTime.Now');" placeholder="تاریخ شروع کار" class="form-control" id="workStartDate3" value="@ViewBag.workStartDate" />
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="">علت ترک کار</label>
                            <input id="leaveWorkReason3" type="text" class="form-control" />
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="">مبلغ دریافتی</label>
                            <input id="recievedPrice3" type="text" class="form-control" />
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="">آدرس</label>
                            <input id="Address3" type="text" class="form-control" />
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="">تلفن</label>
                            <input id="Phone3" type="text" class="form-control" />
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">مهارتها و دانش زبان</div>
            <div class="panel-body">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <label class="form-group col-sm-12">سطح زبان انگلیسی</label>
                        <div class="form-group col-sm-6">
                            <form style="direction:rtl; width:100%">
                                <label class="m-l-10">خواندنReading</label>
                                <label class="m-l-xs" for="readingCheck">مبتدی</label>
                                <input type="radio" name="readingRadio" class="m-l-10" id="readingCheck1">
                                <label class="" for="readingCheck">متوسط</label>
                                <input type="radio" name="readingRadio" class="m-l-10" id="readingCheck2">
                                <label class="" for="readingCheck">خوب</label>
                                <input type="radio" name="readingRadio" class="m-l-10" id="readingCheck3">
                                <label class="" for="readingCheck">پیشرفته</label>
                                <input type="radio" name="readingRadio" class="" id="readingCheck4">
                            </form>
                        </div>
                        <div class="form-group col-sm-6">
                            <form style="direction:rtl; width:100%">
                                <label class="m-l-10">نوشتن Writing</label>
                                <label class="m-l-xs" for="writingCheck">مبتدی</label>
                                <input type="radio" name="writingRadio" class="m-l-10" id="writingCheck1">
                                <label class="" for="writingCheck">متوسط</label>
                                <input type="radio" name="writingRadio" class="m-l-10" id="writingCheck2">
                                <label class="" for="writingCheck">خوب</label>
                                <input type="radio" name="writingRadio" class="m-l-10" id="writingCheck3">
                                <label class="" for="writingCheck">پیشرفته</label>
                                <input type="radio" name="writingRadio" class="" id="writingCheck4">
                            </form>
                        </div>
                        <div class="form-group col-sm-6">
                            <form style="direction:rtl; width:100%">
                                <label class="m-l-10">گوش کردن listening</label>
                                <label class="m-l-xs" for="listeningCheck">مبتدی</label>
                                <input type="radio" name="listeningRadio" class="m-l-10" id="listeningCheck1">
                                <label class="" for="listeningCheck">متوسط</label>
                                <input type="radio" name="listeningRadio" class="m-l-10" id="listeningCheck2">
                                <label class="" for="listeningCheck">خوب</label>
                                <input type="radio" name="listeningRadio" class="m-l-10" id="listeningCheck3">
                                <label class="" for="listeningCheck">پیشرفته</label>
                                <input type="radio" name="listeningRadio" class="" id="listeningCheck4">
                            </form>
                        </div>
                        <div class="form-group col-sm-6">
                            <form style="direction:rtl; width:100%">
                                <label class="m-l-10">صحبت کردن Speaking</label>
                                <label class="m-l-xs" for="speakingCheck">مبتدی</label>
                                <input type="radio" name="speakingRadio" class="m-l-10" id="speakingCheck1">
                                <label class="" for="speakingCheck">متوسط</label>
                                <input type="radio" name="speakingRadio" class="m-l-10" id="speakingCheck2">
                                <label class="" for="speakingCheck">خوب</label>
                                <input type="radio" name="speakingRadio" class="m-l-10" id="speakingCheck3">
                                <label class="" for="speakingCheck">پیشرفته</label>
                                <input type="radio" name="speakingRadio" class="" id="speakingCheck4">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <label class="form-group col-sm-12">مهارت های کامپیوتری: ( لطفا میزان تسلط خود را بر هریک از نرم افزارها به تفکیک روشن فرمایید).</label>
                        <div class="form-group col-sm-6">
                            @Html.LabelFor(model => model.Windows)
                            @Html.TextBoxFor(model => model.Windows, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Windows)
                        </div>
                        <div class="form-group col-sm-6">
                            @Html.LabelFor(model => model.Software)
                            @Html.TextBoxFor(model => model.Software, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Software)
                        </div>
                        <div class="form-group col-sm-12">
                            @Html.LabelFor(model => model.OtherSoftware)
                            @Html.TextBoxFor(model => model.OtherSoftware, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.OtherSoftware)
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group col-sm-12">
                            @Html.LabelFor(model => model.SportHistory)
                            @Html.TextBoxFor(model => model.SportHistory, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.SportHistory)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">سایر دوره های آموزشی</div>
            <div class="panel-body">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group col-sm-6">
                            <label class="">نام موسسه / مرکز آموزشی</label>
                            <input id="educationalCenterName1" type="text" class="form-control" />
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="">نام دوره آموزشی</label>
                            <input id="courseName1" type="text" class="form-control" />
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="">مدت دوره</label>
                            <input id="durationofCourse1" type="text" class="form-control" />
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="">مهارت کسب شده</label>
                            <input id="skill1" type="text" class="form-control" />
                        </div>

                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group col-sm-6">
                            <label class="">نام موسسه / مرکز آموزشی</label>
                            <input id="educationalCenterName2" type="text" class="form-control" />
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="">نام دوره آموزشی</label>
                            <input id="courseName2" type="text" class="form-control" />
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="">مدت دوره</label>
                            <input id="durationofCourse2" type="text" class="form-control" />
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="">مهارت کسب شده</label>
                            <input id="skill2" type="text" class="form-control" />
                        </div>

                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group col-sm-6">
                            <label class="">نام موسسه / مرکز آموزشی</label>
                            <input id="educationalCenterName3" type="text" class="form-control" />
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="">نام دوره آموزشی</label>
                            <input id="courseName3" type="text" class="form-control" />
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="">مدت دوره</label>
                            <input id="durationofCourse3" type="text" class="form-control" />
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="">مهارت کسب شده</label>
                            <input id="skill3" type="text" class="form-control" />
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">اطلاعات اعضای خانواده</div>
            <div class="panel-body">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group col-sm-6">
                            <label class="">نسبت</label>
                            <input id="familyRelative1" type="text" class="form-control" />
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="">نام و نام خانوادگی</label>
                            <input id="familyName1" type="text" class="form-control" />
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="">میزان تحصیلات</label>
                            <input id="educationalLevel1" type="text" class="form-control" />
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="">تاریخ تولد</label>
                            <input type="text" onclick="PersianDatePicker.Show(this,'@DateTime.Now');" placeholder="تاریخ تولد" class="form-control" id="birthdayDate1" value="@ViewBag.birthdayDate1" />
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="">شماره تلفن</label>
                            <input id="familyPhone1" type="text" class="form-control" />
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="">شغل</label>
                            <input id="familyJob1" type="text" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group col-sm-6">
                            <label class="">نسبت</label>
                            <input id="familyRelative2" type="text" class="form-control" />
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="">نام و نام خانوادگی</label>
                            <input id="familyName2" type="text" class="form-control" />
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="">میزان تحصیلات</label>
                            <input id="educationalLevel2" type="text" class="form-control" />
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="">تاریخ تولد</label>
                            <input type="text" onclick="PersianDatePicker.Show(this,'@DateTime.Now');" placeholder="تاریخ تولد" class="form-control" id="birthdayDate2" value="@ViewBag.birthdayDate2" />
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="">شماره تلفن</label>
                            <input id="familyPhone2" type="text" class="form-control" />
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="">شغل</label>
                            <input id="familyJob2" type="text" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group col-sm-6">
                            <label class="">نسبت</label>
                            <input id="familyRelative3" type="text" class="form-control" />
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="">نام و نام خانوادگی</label>
                            <input id="familyName3" type="text" class="form-control" />
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="">میزان تحصیلات</label>
                            <input id="educationalLevel3" type="text" class="form-control" />
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="">تاریخ تولد</label>
                            <input type="text" onclick="PersianDatePicker.Show(this,'@DateTime.Now');" placeholder="تاریخ تولد" class="form-control" id="birthdayDate3" value="@ViewBag.birthdayDate3" />
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="">شماره تلفن</label>
                            <input id="familyPhone3" type="text" class="form-control" />
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="">شغل</label>
                            <input id="familyJob3" type="text" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">آشنایی با شرکت چرم مشهد</div>
            <div class="panel-body">
                <div class="form-group col-sm-12">

                    <form style="direction:rtl; width:100%">
                        <label class="m-l-10">نحوه آشنایی با شرکت چرم مشهد: </label>
                        <label class="m-l-xs" for="familierWithCompanyCheck">دوستان و آشنایان</label>
                        <input type="radio" name="familierWithCompanyRadio" class="m-l-10" id="familierWithCompanyCheck1">
                        <label class="" for="familierWithCompanyCheck">آگهی روزنامه</label>
                        <input type="radio" name="familierWithCompanyRadio" class="m-l-10" id="familierWithCompanyCheck2">
                        <label class="" for="familierWithCompanyCheck">سایت چرم مشهد</label>
                        <input type="radio" name="familierWithCompanyRadio" class="m-l-10" id="familierWithCompanyCheck3">
                        <label class="" for="familierWithCompanyCheck">تلگرام</label>
                        <input type="radio" name="familierWithCompanyRadio" class="" id="familierWithCompanyCheck4">
                        <label class="" for="familierWithCompanyCheck">آگهی سایت های استخدامی</label>
                        <input type="radio" name="familierWithCompanyRadio" class="m-l-10" id="familierWithCompanyCheck5">
                        <label class="" for="familierWithCompanyCheck">دریافت پیامک</label>
                        <input type="radio" name="familierWithCompanyRadio" class="" id="familierWithCompanyCheck6">
                        <label class="" for="familierWithCompanyCheck">معرف دارم</label>
                        <input type="radio" name="familierWithCompanyRadio" class="m-l-10" id="familierWithCompanyCheck7">
                    </form>
                </div>
                <div class="form-group col-sm-6">
                    @Html.LabelFor(model => model.IntroducePost)
                    @Html.TextBoxFor(model => model.IntroducePost, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IntroducePost)
                </div>
                <div class="form-group col-sm-6">
                    @Html.LabelFor(model => model.IntroduceName)
                    @Html.TextBoxFor(model => model.IntroduceName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IntroduceName)
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">سمت شغلی</div>
            <div class="panel-body">
                <div class="form-group col-sm-12">

                    <form style="direction:rtl; width:100%">
                        <label class="m-l-10">حقوق مورد انتظار: </label>
                        <label class="m-l-xs" for="expectedSalaryCheck">مطابق با ضوابط شرکت</label>
                        <input type="radio" name="expectedSalaryRadio" class="m-l-10" id="expectedSalaryCheck1">
                        <label class="" for="expectedSalaryCheck">پیشنهادی</label>
                        <input type="radio" name="expectedSalaryRadio" class="m-l-10" id="expectedSalaryCheck2">
                    </form>
                </div>
                <div class="form-group col-sm-6">
                    @Html.LabelFor(model => model.RequestedPrice)
                    @Html.TextBoxFor(model => model.RequestedPrice, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.RequestedPrice)
                </div>
                <div class="form-group col-sm-6">
                    @Html.LabelFor(model => model.InterestedJob)
                    @Html.TextBoxFor(model => model.InterestedJob, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.InterestedJob)
                </div>
            </div>
        </div>
        <button class="btn btn-default" type="submit" id="form-submit"><i class="fa fa-paper-plane"></i>&nbsp;@Resources.Label.Send</button>
    </div>

                                    <script src="~/Scripts/PersianDatePicker.min.js"></script>
                                    <link href="~/Content/PersianDatePicker.min.css" rel="stylesheet" />
                                    @section scripts{
                                        <script src="~/Scripts/UI/plugins/components/particles-animation.js"></script>
                                        <script src="~/Scripts/UI/plugins/components/particles.js"></script>
                                    }
