@model Models.Carreer

@{
    ViewBag.Title = "حذف " + Server.HtmlDecode(Html.DisplayNameFor(model => model).ToString());
    Layout = "~/Views/Shared/BackEndLayout/_BackEndLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

<h3>آیا از حذف این مورد اطمینان دارید؟</h3>
<div>    
    <hr />
    <div class="form-horizontal">        
    
         <div class="form-group">
            @Html.LabelFor(model => model.FullName, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.FullName)
      </div></div>

         <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.Email)
      </div></div>

         <div class="form-group">
            @Html.LabelFor(model => model.CellNumber, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.CellNumber)
      </div></div>

         @*<div class="form-group">
            @Html.LabelFor(model => model.ResumeFile, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.ResumeFile)
      </div></div>*@

         <div class="form-group">
            @Html.LabelFor(model => model.NationalCode, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.NationalCode)
      </div></div>

         <div class="form-group">
            @Html.LabelFor(model => model.BirthdayDate, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.BirthdayDate)
      </div></div>

         <div class="form-group">
            @Html.LabelFor(model => model.PlaceOfBirth, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.PlaceOfBirth)
      </div></div>

         <div class="form-group">
            @Html.LabelFor(model => model.IsLady, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.IsLady)
      </div></div>

         <div class="form-group">
            @Html.LabelFor(model => model.IsMarried, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.IsMarried)
      </div></div>

         <div class="form-group">
            @Html.LabelFor(model => model.ChidNumber, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.ChidNumber)
      </div></div>

         <div class="form-group">
            @Html.LabelFor(model => model.PeopleInChargeNumber, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.PeopleInChargeNumber)
      </div></div>

         <div class="form-group">
            @Html.LabelFor(model => model.Nationality, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.Nationality)
      </div></div>

         <div class="form-group">
            @Html.LabelFor(model => model.Address, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.Address)
      </div></div>

         <div class="form-group">
            @Html.LabelFor(model => model.MilitaryStatus, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.MilitaryStatus)
      </div></div>

         <div class="form-group">
            @Html.LabelFor(model => model.PhysicalCondition, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.PhysicalCondition)
      </div></div>

         <div class="form-group">
            @Html.LabelFor(model => model.IsInsurance, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.IsInsurance)
      </div></div>

         <div class="form-group">
            @Html.LabelFor(model => model.DurationInsuranceHistory, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.DurationInsuranceHistory)
      </div></div>

         <div class="form-group">
            @Html.LabelFor(model => model.Education, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.Education)
      </div></div>

         <div class="form-group">
            @Html.LabelFor(model => model.Major, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.Major)
      </div></div>

         <div class="form-group">
            @Html.LabelFor(model => model.LastUniversity, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.LastUniversity)
      </div></div>

         <div class="form-group">
            @Html.LabelFor(model => model.LastCertificateDateTime, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.LastCertificateDateTime)
      </div></div>

         <div class="form-group">
            @Html.LabelFor(model => model.Software, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.Software)
      </div></div>

         <div class="form-group">
            @Html.LabelFor(model => model.Windows, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.Windows)
      </div></div>

         <div class="form-group">
            @Html.LabelFor(model => model.OtherSoftware, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.OtherSoftware)
      </div></div>

         <div class="form-group">
            @Html.LabelFor(model => model.Writing, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.Writing)
      </div></div>

         <div class="form-group">
            @Html.LabelFor(model => model.Reading, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.Reading)
      </div></div>

         <div class="form-group">
            @Html.LabelFor(model => model.Speaking, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.Speaking)
      </div></div>

         <div class="form-group">
            @Html.LabelFor(model => model.Listening, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.Listening)
      </div></div>

         <div class="form-group">
            @Html.LabelFor(model => model.IntroduceName, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.IntroduceName)
      </div></div>

         <div class="form-group">
            @Html.LabelFor(model => model.IntroducePost, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.IntroducePost)
      </div></div>

         <div class="form-group">
            @Html.LabelFor(model => model.InterestedJob, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.InterestedJob)
      </div></div>

         <div class="form-group">
            @Html.LabelFor(model => model.IsExpectedSalary, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.IsExpectedSalary)
      </div></div>

         <div class="form-group">
            @Html.LabelFor(model => model.RequestedPrice, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.RequestedPrice)
      </div></div>

         <div class="form-group">
            @Html.LabelFor(model => model.HumanResourceinterviewerName, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.HumanResourceinterviewerName)
      </div></div>

         <div class="form-group">
            @Html.LabelFor(model => model.HumanResourceinterviewerJob, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.HumanResourceinterviewerJob)
      </div></div>

         <div class="form-group">
            @Html.LabelFor(model => model.HumanResourceDescription, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.HumanResourceDescription)
      </div></div>

         <div class="form-group">
            @Html.LabelFor(model => model.SpecializedInterviewerName, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.SpecializedInterviewerName)
      </div></div>

         <div class="form-group">
            @Html.LabelFor(model => model.SpecializedInterviewerPost, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.SpecializedInterviewerPost)
      </div></div>

         <div class="form-group">
            @Html.LabelFor(model => model.SpecializedInterviewerDescription, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.SpecializedInterviewerDescription)
      </div></div>

         <div class="form-group">
            @Html.LabelFor(model => model.IsConfirmed, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.IsConfirmed)
      </div></div>

         <div class="form-group">
            @Html.LabelFor(model => model.Familiar, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.Familiar)
      </div></div>

         <div class="form-group">
            @Html.LabelFor(model => model.IsActive, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.IsActive)
      </div></div>

         <div class="form-group">
            @Html.LabelFor(model => model.CreationDate, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.CreationDate)
      </div></div>

         <div class="form-group">
            @Html.LabelFor(model => model.LastModifiedDate, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.LastModifiedDate)
      </div></div>

         <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.Description)
      </div></div>

         <div class="form-group">
            @Html.LabelFor(model => model.DescriptionEn, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.DescriptionEn)
      </div></div>

         <div class="form-group">
            @Html.LabelFor(model => model.DescriptionAr, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.DescriptionAr)
      </div></div>

  </div>  

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

       <div class="form-group" id="buttons">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="تایید حذف" class="btn btn-primary" />
				@Html.ActionLink("بازگشت به فهرست", "Index")
            </div>
        </div>
    }
</div>
