@model Models.Carreer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/BackEndLayout/_BackEndLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Carreer</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CellNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CellNumber)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.ResumeFile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResumeFile)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.NationalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NationalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthdayDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthdayDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlaceOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlaceOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsLady)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsLady)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsMarried)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsMarried)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChidNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChidNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PeopleInChargeNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PeopleInChargeNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nationality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nationality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MilitaryStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MilitaryStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhysicalCondition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhysicalCondition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsInsurance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsInsurance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DurationInsuranceHistory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DurationInsuranceHistory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Education)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Education)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Major)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Major)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastUniversity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUniversity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastCertificateDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastCertificateDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Software)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Software)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Windows)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Windows)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtherSoftware)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtherSoftware)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Writing)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Writing)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reading)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reading)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Speaking)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Speaking)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Listening)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Listening)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IntroduceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IntroduceName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IntroducePost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IntroducePost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InterestedJob)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InterestedJob)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsExpectedSalary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsExpectedSalary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequestedPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestedPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HumanResourceinterviewerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HumanResourceinterviewerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HumanResourceinterviewerJob)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HumanResourceinterviewerJob)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HumanResourceDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HumanResourceDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpecializedInterviewerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpecializedInterviewerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpecializedInterviewerPost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpecializedInterviewerPost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpecializedInterviewerDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpecializedInterviewerDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsConfirmed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsConfirmed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Familiar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Familiar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastModifiedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeletionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeletionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescriptionEn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescriptionEn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescriptionAr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescriptionAr)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
