@model  ViewModels.OrderDashboardViewModel

@{
    ViewBag.Title = "گزارش سفارشات سایت از تاریخ "+ViewBag.startDate + " لغایت " + ViewBag.endDate;

}

@section head{
	<style>
		.dashboarditembox {
			padding: 10px;
			border-radius: 5px;
			background-color: #10068e;
			color: #fff;
			text-align: center;
			font-size: 16px;
		}
		.panel {
			margin-top: 20px;
		}
		.panel-body {
		padding: 20px;
		}
		</style>
}
<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-2">
        <input type="text" onclick="PersianDatePicker.Show(this,'@DateTime.Now');" placeholder="تاریخ شروع" class="form-control" width="150" id="startDate" value="@ViewBag.startDate" />
    </div>
    <div class="col-md-2">
        <input type="text" onclick="PersianDatePicker.Show(this,'@DateTime.Now');" placeholder="تاریخ ‍‍پایان" class="form-control" width="150" id="endDate" value="@ViewBag.endDate"/> 
    </div>
    @*<div class="col-md-2">
        @Html.DropDownList("ddlStatus", null, "وضعیت", new { @id = "ddlSatus", @placeholder = "وضعیت", @class = "form-control" })
    </div>*@
    <div class="col-md-1">
        <input type="button" id="btnSubmit" value="فیلتر" class="btn btn-success" />
    </div>
  
</div>
<br />

<div class="row">
	<div class="col-md-3"><div class="dashboarditembox">
		<p>
		تعداد کل سفارشات:
		</p><p>
	@Model.TotalOrderQty
</p>

	</div></div>
	<div class="col-md-3"><div class="dashboarditembox"><p>
	جمع کل سفارشات:
		</p><p>

			@Model.TotamOrderAmount.ToString("n0") ریال
		</p>

</div></div>
	<div class="col-md-3"><div class="dashboarditembox"><p>
	تعداد سفارشات در حال پردازش:
</p><p>@Model.TotalOnProgressOrderQty</p>
</div></div>
	<div class="col-md-3"><div class="dashboarditembox"><p>
	تعداد سفارشات رسیدگی شده:
</p><p>
											 		@Model.TotalFinalOrderQty
		</p>

</div></div>
</div>
<div class="panel panel-primary">
	<div class="panel-heading">سفارشات به تفکیک استان</div>
	<div class="panel-body">
</div>
@(Html.Kendo().Grid(Model.OrderByProvince)
				.Name("Grid")

				.Columns(columns =>
				{
				columns.Bound(model => model.ProvinceTitle);
				 columns.Bound(model => model.TotalOrderQtyByProvince);
				columns.Bound(model => model.TotamOrderAmountByProvinceStr);
		
				}).Filterable().Sortable()

				.DataSource(dataSource => dataSource
																		.Server()
																	 
										)

	  )
</div>
<script src="~/Scripts/PersianDatePicker.min.js"></script>
<link href="~/Content/PersianDatePicker.min.css" rel="stylesheet" />
<script type="text/javascript">
	$("#btnSubmit").click(function () {
		var startDate = $("#startDate").val();
		var endDate = $("#endDate").val();
		//var lblTotal = $("#lblTotal");
		//lblTotal.removeClass('hidden');
		//var ddlSatus = document.getElementById("ddlSatus");
		//var selectedStatus = ddlSatus.options[ddlSatus.selectedIndex].value;

		window.location.href = "/Dashboard/OrderList?startDate=" + startDate + "&&endDate=" + endDate;

	});
	$(document).ready(function () {
	 
			document.getElementById("startDate").value = '@ViewBag.startDate';
			document.getElementById("endDate").value = '@ViewBag.endDate';
		 
	});
</script>
