@model IEnumerable<Models.Comment>

@{
    ViewBag.Title = "فهرست یادداشت ها";

    Layout = "~/Views/Shared/BackEndLayout/_BackEndLayout.cshtml";
}

<h2>@ViewBag.Title</h2>
@if (User.Identity.IsAuthenticated)
{
	var identity = (System.Security.Claims.ClaimsIdentity) User.Identity;
	string role = identity.FindFirst(System.Security.Claims.ClaimTypes.Role).Value;
	if (role == "SuperAdministrator")
	{
		<a href="/comments/DownloadReport" class="btn btn-info">دانلود خروجی</a>
	}
}
	@(Html.Kendo().Grid(Model)
                                      .Name("Grid")
                                      .Columns(columns =>
                                          {
                                  //columns.Bound(model => model.Parent.Name);
                                  columns.Bound(model => model.ProductCategory.Title);
                                              columns.Bound(model => model.Name);
                                              columns.Bound(model => model.Email);
                                              columns.Bound(model => model.CommentBody);
                                              columns.Bound(model => model.IsActive);
                                              columns.Bound(model => model.CreationDate);
                                              columns.Bound(item => @item.Id).Title("دستورات").Filterable(false).Groupable(false)
                                              .Template(@<text>
                                                @Html.ActionLink("تایید", "Confirm", new { id = @item.Id }, new { @class = "k-button" })
                                                @Html.ActionLink("عدم تایید", "NoConfirm", new { id = @item.Id }, new { @class = "k-button" })
                                                @Html.ActionLink("حذف", "Delete", new { id = @item.Id }, new { @class = "k-button" })
                                                @Html.ActionLink("پاسخ دهی", "Edit", new { id = @item.Id }, new { @class = "k-button" })
                                               
                                              

                                            </text>).Width(200);
                                                })
                                                                //.ToolBar(toolbar =>
                                                                //			{
                                                                //				toolbar.Custom().Action("Create","Comments").Text("افزودن");
                                                                //			}
                                                                //)
                                                                .DataSource(dataSource => dataSource
                                                                                            .Server()

                                                                                            .Model(model => model.Id(item => item.Id))
                                                                            )
)

@if (ViewBag.parent.ToString() != "")
{
    <a href="/Comments">بازگشت به فهرست</a>
    @*@Html.ActionLink("بازگشت به فهرست", "Index")*@
}


