@model ViewModels.UploadFile


@{
    ViewBag.Title = "ایمپورت فایل اکسل";
}
<h2>@ViewBag.Title</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    @Html.AntiForgeryToken();
  
	<div class="container">
		<div class="row">
        <div class="col-md-6"> <div class="form-horizontal">
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
               اکسل
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.ExcelFile, new { type = "file", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ExcelFile, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type = "submit" value="Submit" class="btn btn-default" />
                </div>
            </div>
        </div></div>
	    <div class="col-md-6 alert alert-info">
		    <h2>قبل از بارگزاری حتما به نکات زیر توجه کنید</h2>
		    <ul>
			    <li>نام شیت اکسل حتما Sheet1 باشد</li>
			    
				
			    <li>فایل نمونه اکسل را از
				    <a href="/Uploads/sample-excel.xls">
					    اینجا
				    </a> دانلود کنید.
			    </li>
					
			    <li>
				    محصولات بر اساس بارکد شناسایی می شوند و اگر بارکد جدیدی در سایت ثبت شود، به عنوان محصول جدید شناخته خواهد شد و اگر بارکد تکراری باشد سایر اطلاعات محصول جایگزین خواهد شد
			    </li>
		    </ul>
		   
	    </div>

    </div>
	</div>
}